{% extends 'Back/base.html.twig' %}

{% block body %}
<br>
	<div class="container"><br><br>
		<h2 class="text-center mt-5 mb-3">GameGalaxy Manager de Categorie</h2>

		<div class="card">
			<div class="card-header">
				<a class="btn btn-outline-primary" href="{{ path('app_categorie_new') }}">
					Ajouter noveau Categorie
				</a>
			</div>
			<div class="container m-20">
				<div class="card-body">

					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom Categorie</th>
								<th>Etat</th>
								<th>Type</th>
							
							</tr>
						</thead>
						<tbody>
							{% for categorie in categories %}
								<tr>
									<td>{{ categorie.id }}</td>
									<td>{{ categorie.getNomCategorie }}</td>
									<td>{{ categorie.etat }}</td>
									<td>{{ categorie.type }}</td>
								
									<td>

											<a class="btn btn-success" href="{{ path('app_categorie_show', {'id': categorie.id}) }}"><i class="bi bi-display"></i></a>
											<a class="btn btn-info" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><i class="bi bi-pencil-square"></i></a>
											<div>
											{{ include('categorie/_delete_form.html.twig') }}</div>
										</form>
									</td>
								</tr>

							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

		</div>
	{% endblock %}