{% extends 'FRONT/base.html.twig' %}

{% block title %}
	Mes Réservations
{% endblock %}

{% block body %}
	<!-- inner-hero start -->
	<section class="inner-hero bg_img" data-background="../FRONT/assets/images/bg/inner-hero.jpg">
		

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-title">Réservations</h2>
					<ul class="page-list">
						<li>
							<a href="index.html">Acceuil</a>
						</li>
						<li>Mes Réservations</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- inner-hero end -->

	<div class="row">
		<div class="col-lg-12">
			<div class="faq-wrapper">
				<div class="section-header text-center">
					<span class="section-sub-title">Vous avez réservé pour un évènement?</span>
					<h2 class="section-title">Voici vos réservations.</h2>
				</div>
				<!-- section header -->
				<div class="accordion cmn-accordion" id="faqAcc-one">
					{% for reservation in reservations %}
						<div class="card">
							<div class="card-header" id="h-5">
								<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">

									{{ reservation.getIdEvenement() }}
								</button>
							</div>
							<div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-one">
								<div class="card-body">
									<p>REF:
										{{ reservation.id }}</p>
									<p>LE:
										{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}
										</p>
			                            <img src="{{qr_code_url(app.request.uri)}}/{{reservation.id}}"alt="photo" width="90" height="90"/>

								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
