

{% extends 'BACK/base.html.twig' %}

{% block title %}
	Réservations
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					Réservations
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>ID</th>
								<th>ID Membre</th>
								<th>ID Evenement</th>
								<th>Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>ID Membre</th>
								<th>ID Evenement</th>
								<th>Date</th>
								<th>Actions</th>
							</tr>
						</tfoot>
						<tbody>
							{% for reservation in reservations %}
								<tr>
									<td>{{ reservation.id }}</td>
									<td>{{ reservation.getIdMembre() }}</td>
									<td>{{ reservation.getIdEvenement() }}</td>
									<td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
									<td>
										<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Détails</a>
										<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary" href="{{ path('app_reservation_new') }}">Créer une réservation</a>
				</div>
			</div>
		</main>
	{% endblock %}
