{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirm_password) }}
        {{ form_row(form.agreeTerms) }}
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
