<!DOCTYPE html>

{% extends 'Black/base.html.twig' %}
 
{% block title %}Blog{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Afficher Blogs</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app__index') }}"> 
                    Afficher tous les 
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ blog.title }}</p>
                <b class="text-muted">Contenu:</b>
                <p>{{ blog.content }}</p>
                <b class="text-muted">Image:</b>
                <p>{{ blog.image }}</p>
                <b class="text-muted">Date Created:</b>
                <p>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}
