{% extends 'BACK/base.html.twig' %}

{% block title %}
	Modifier l'utilisateur
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div id="layoutAuthentication">
				<div id="layoutAuthentication_content">
					<main>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-7">
									<div class="card shadow-lg border-0 rounded-lg mt-5">
										<div class="card-header">
											<h3 class="text-center font-weight-light my-4">Modifier l'utilisateur</h3>
										</div>
										<div class="card-body">
											{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
											<div class="row mb-3">
												
												<div class="col-md-6">
													<div class="form-floating">
														{{form_widget(form.pseudo,{'attr':{'class':'form-control datetimepicker'}})}}
														<label for="inputLastName">pseudo</label>
													</div>
												</div>
											</div>
											<div class="form-floating mb-3">
												{{form_widget(form.email,{'attr':{'class':'form-control'}})}}
												<label for="inputEmail">Email</label>
											</div>
											<div class="row mb-3">
												<div class="col-md-6">
													<div class="form-floating mb-3 mb-md-0">
														{{form_widget(form.niveaucompte,{'attr':{'class':'form-control'}})}}
														<label for="inputFirstName">Niveau de compte </label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														{{form_widget(form.date_naissance,{'attr':{'class':'form-control'}})}}
														<label for="inputLastName">Date de naissance</label>
													</div>
												</div>
											</div>

											<div class="row mb-3">
												<div class="col-md-6">
													<div class="form-floating mb-3 mb-md-0">
														{{form_widget(form.mdp_compte,{'attr':{'class':'form-control'}})}}
														<label for="inputFirstName">Mot de passe</label>
													</div>
												</div>
											</div>
											<div class="mt-4 mb-0">
												<div class="d-grid">
													 {{ include('membre/_form.html.twig', {'button_label': 'Update'}) }}
												</div>
											</div>
											<div class="mt-4 mb-0">
												<div class="d-grid">
													{{ include('membre/_delete_form.html.twig') }}
												</div>
											</div>


											{{form_end(form)}}
										</div>
										<div class="card-footer text-center py-3">
											<div class="small">
												<a href="{{ path('app_membre_index') }}">Retour à la liste</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</main>
		{% endblock %}