{% extends 'BACK/base.html.twig' %}

{% block title %}
	Evenements
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					Evenements
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Date</th>
								<th>Description</th>
								<th>Duree</th>
								<th>Capacite</th>
								<th>Type</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Date</th>
								<th>Description</th>
								<th>Duree</th>
								<th>Capacite</th>
								<th>Type</th>
							</tr>
						</tfoot>
						<tbody>
							{% for evenement in evenements %}
								<tr>
									<td>{{ evenement.id }}</td>
									<td>{{ evenement.nom }}</td>
									<td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
									<td>{{ evenement.description }}</td>
									<td>{{ evenement.duree }}</td>
									<td>{{ evenement.capacite }}</td>
									<td>{{ evenement.type }}</td>
									<td>
										<a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">Détails</a>
										<a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Modifier</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
									<td>
										N/A
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary" href="{{ path('app_evenement_new') }}">Créer un évènement</a>
				</div>
			</div>
		</main>
	{% endblock %}
